# requirements.txt

fastapi
uvicorn[standard]
python-dotenv
PyPDF2
chromadb
sentence-transformers

# Core LangChain packages
langchain
langchain-google-genai
langchain-huggingface
langchain-community
langchain_community